:root{ 
    --mainColor: #f7a325;
    --secondColorFont:#ffca7a;
    --backgroundButton:#721252;
    --backgroundModal:#f3d6e9;
    --buttonHover:#915f80;
    --mainFont: 'RocknRoll One', sans-serif;
    --secondFont: 'Stick', sans-serif;
    --borderRadius: 10px;
    --boderColor:#380427;
}

*{
    margin: 0;
    padding: 0;
}

html,
body{
    height: auto;
    width: 100vw;
    overflow: hidden;
    font-family: var(--mainFont);
    color: var(--secondColorFont);
    text-shadow: rgb(104, 24, 150) 0.1em 0.1em 0.2em
}

body{
    background-image: url('https://image.freepik.com/vector-gratis/silueta-arbol-anochecer_104785-119.jpg');
    background-size: cover;
    background-position-y: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p,i{
    color: var(--mainColor);
    text-shadow: rgb(104, 24, 150) 0.1em 0.1em 0.2em;
}  

.main-container{
    max-width: 500px;
    width: 500px;
}

.main-title{
    color: var(--mainColor);
    font-family: var(--secondFont);
    text-align: center;
    font-size:  3rem;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
    text-shadow: rgb(104, 24, 150) 0.1em 0.1em 0.2em;
}

/*Contenedor control del juego, puntaje, ayuda y reinicio*/

.control-panel{
    margin-bottom: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundButton);
    border-radius: var(--borderRadius);
    border: 3px solid var(--boderColor);
    color: var(--secondColorFont);
    text-shadow:  rgb(104, 24, 150) 0.1em 0.1em 0.2em;
    box-shadow: 0px 0px 5px 4px #ebe1e1b7 inset;
}

.score-panel{
    display: flex;
    align-items: center;
    font-family: var(--mainFont);
    font-size: 1.5rem;
}

.score-panel p{
    display: flex;
}

#set{
    width: 20px;
    margin-right: 20px;
    font-family:var(--mainFont);
}

#score{
    width: 20px;
    margin-left: 15px;
    font-family:var(--mainFont);
}

#help-button, #restart-button{
    padding: 5px;
    font-size: 1.5rem;
    color: var(--mainColor);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#restart-button i {
    transform: rotate(0);
    transition: 0.2s;
}

#restart-button:focus-within i,
#restart-button:hover i {
    transform: rotate(-180deg);
}

/*Contenedor Grilla de juego*/

.grid-container{
    width: 100%;
    padding: 10px;
    border-radius: var(--borderRadius);
    box-sizing: border-box;
    border: 2px solid var(--boderColor);
    background: rgb(0 0 0 / 73%);
}
  
#grid{
    position: relative;
    width: 100%;
    height: 380px;
}

/*Contador de tiempo del jueg*/

.timer-container{
    width: 110px;
    margin: 20px auto 0;
    padding: 10px 10px;
    font-size: 25px;
    color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundButton);
    border-radius: var(--borderRadius);
    border: 2px solid var(--boderColor);
    text-shadow: rgb(104, 24, 150) 0.1em 0.1em 0.2em;
    box-shadow: 0px 0px 5px 4px #ebe1e1b7 inset;
}

.remaining-time{
    margin: 0;
    margin-left: 10px;
    line-height: 1;
}

/*Modales*/
/*Modal de bienvenida*/

.modal-wrapper{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: var(--backgroundModal);
    z-index: 100;
    /* visibility: hidden; */
    opacity: 0;
    transition: .35s ease-in-out;
    pointer-events: none;
}

.modal-wrapper.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal hidden{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 478px;
    background-color: var(--backgroundModal);
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    z-index: 10001;
    transform: translate(-50%, -50%);
    font-family: var(--mainFont);
    text-shadow: none;
    letter-spacing: -0.5px;
    line-height: 1.3;
    text-align: center;
}

/*Modal Nuevo juego*/

.modal-options-buttons{
    width: 100%;
    height: 100vh;
    background: var(--backgroundModal);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    animation: modal 2s 3s forwards;
    opacity: 0;
}

/*Botones*/

.button{
    margin: 0;
    margin-left: 5px;
    padding: 10px 24px;
    color: var(--mainColor);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    background-color: var(--backgroundButton);
}

.button :hover {
    background-color: #c2185b;
}


  

