/* General Styles */

:root{ 
    --mainColor: #f7a325;
    --secondColorFont:#ffca7a;
    --modalColorFont:#13010d;
    --backgroundButton:#721252;
    --backgroundModal:#f3d6e9;
    --buttonHover:#915f80;
    --mainFont: 'RocknRoll One', sans-serif;
    --secondFont: 'Stick', sans-serif;
    --borderRadius: 10px;
    --boderColor:#380427;
    --overlayModal:#520962;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height:140vh;
    /*overflow: hidden;*/
    font-family: var(--mainFont);
    color: var(--secondColorFont);
    background-image: url('https://image.freepik.com/vector-gratis/silueta-arbol-anochecer_104785-119.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p,i{
    color: var(--mainColor);
    text-shadow: rgb(104, 24, 150) 0.1em 0.1em 0.2em;
}  

.title {
    font-family: var(--secondFont);
    font-size:  3rem;
    color: var(--mainColor);
    text-align: center;
    margin: 5px;
    font-weight: 800;
    text-shadow: rgb(104, 24, 150) 0.1em 0.1em 0.2em;
}

.main-container {
    max-width: 520px;
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

/*Contenedor control del juego, puntaje, ayuda y reinicio*/

.control-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--backgroundButton);
    padding: 5px 10px;
    border-radius: 8px;
    border: 3px solid var(--boderColor);
    color: var(--secondColorFont);
    text-shadow: rgb(98, 38, 133) 0.1em 0.1em 0.2em;
    box-shadow: 0px 0px 5px 4px #ebe1e1b7 inset;
}

.score.panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 1rem;
}

.score-text {
    align-items: center;
    font-size: 1rem;
}
 
#set {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#info,
#restart {
    background-color: transparent;
    border: 0;
    padding: 5px;
    color: var(--mainColor);
    font-size: 20px;
    cursor: pointer;
}
  
#restart i {
    transform: rotate(0);
    transition: 0.2s;
}
  
#restart:focus-within i,
#restart:hover i {
    transform: rotate(-180deg);
}

/*Contenedor Grilla de juego*/

.grid-container{
    width: 100%;
    padding: 10px;
    border-radius: var(--borderRadius);
    box-sizing: border-box;
    border: 2px solid var(--boderColor);
    background: rgb(0 0 0 / 73%);
    margin-top: 3%;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.grid div{
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

img.emoji {
   width: 80%;
   transform: scale(1);
   transition: 0.2s;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

/*Contador de tiempo del jueg*/

.timer-container{
    width: 110px;
    margin: 15px 10px;
    padding: 10px 10px;
    font-size: 1.3rem;
    color: var(--mainColor);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--backgroundButton);
    border-radius: var(--borderRadius);
    border: 2px solid var(--boderColor);
    text-shadow: rgb(104, 24, 150) 0.1em 0.1em 0.2em;
    box-shadow: 0px 0px 5px 4px #ebe1e1b7 inset;
}

.remaining-time{
    margin: 0;
    margin-left: 10px;
    line-height: 1;
}

/*Comienzo del footer*/

.sign-personal-footer{
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: transparent;
}

.sign-footer text, sign{
    font-family: var(--mainFont);
    font-size: 1.3rem;
}